@media all {
/* zopra_list_edit_form */
table.zopra_listvalues thead tr th, table.zopra_listvalues tfoot tr th {
  background-color: #FFFFFF;
}
table.zopra_listvalues thead tr .header {
  border-right: none;
}
/* search result page -> criteria*/
table.search_criteria {
    margin-top:0;
}
table.search_criteria th {
    width: 250px;
    border-bottom:1px solid #ddd;
    text-align:left;
    font-weight:bold;
    color:#999;
    padding:0.3em;
    margin:0 8px 0 0
}
table.search_criteria td {
    border-bottom:1px solid #ddd;
    padding:0.3em 0.3em 0.3em 16px;
    margin:0 8px 0 0;
    background:#fff url(https://tu-dresden.de/studium/angebot/studienmoeglichkeiten/icons/arrow-left2right.png) left center no-repeat;
}
/* search result page -> pagination */
#pagelinks {
    line-height: 220%;
    margin-bottom: 5px;}
#pagelinks .pagelink, #pagelinks .selected_pagelink {
    border: 1px solid #40779E;
    background-color: #DDDDDD;
    background-image: none;
    padding: 1px 2px;
    font-weight: 200;
}
#pagelinks .selected_pagelink {
    border: 2px dotted #0B2A51;
}
#pagelinks a:visited {
    color: #40779E;
}
/* edit/search/create form buttons*/
.formControlsZopRA {
    margin: 0 1em 0 0;
    padding: 0.5em 0;
}
.hidden {
    display: none;
}
}
