@media all {
/* erp special colors for table cell markers */
    .invrejected {
        background-color: #E93636 !important;
    }
    .inverror {
        background-color: #FFCE7B !important;
    }
    .invstorno {
        background-color: #eeff7b !important;
    }

/* fuer die zopra_list_edit_form.cpt */
    .zopra_listvalues {
        border-collapse: collapse;
    }
    .zopra_listvalues tr {
        vertical-align: top;
    }
    .zopra_listvalues tr td {
        padding: 2px;
        margin: 2px;
        text-align: left;
    }
    .zopra_listvalues tr.zopra_newvalue td {
        padding-top: 7px;
    }

/* field error marker -> vermutlich überfluessig*/
    .error {
        width: 404px;
        padding: 2px;
    }

/* Suchergebnisse (zopra_table_search_result.pt), Panel für Zusatz-Aktionen auf Suchergebnissen (CSV-Export) */
    .result_options_field {
        border: 1px solid #999999;
        margin: 4px 1px 2px;
        padding: 2px;
    }
    .result_options_subfield {
        margin: 2px;
        display: block;
    }
/* diff Anzeige -> tools/ZopRAProduct.getEntryLogDiff, ev. automatisch via HTMLDiff output */
    .diff {
        background-color: #2dcb70;
        border: 1px #A7CBFF solid;
    }

/* editorial buttons, z.B. edit_form, insbesondere disable-Styles bei ERP-VS*/
    .standalone {
        margin-bottom: 2px;
    }
    .standalone[disabled="disabled"] {
        background-color: #999999;
        cursor: default;
    }
    .context {
        margin-bottom: 2px;
    }

/* zopra_overview table z.B. ERP VS */
    table.zopra_overview {
        border: 1px solid #ccc;
        border-bottom: 0;
        padding: 0;
        margin: 0;
    }
    table.zopra_overview tr {
        margin: 0;
        padding: 0;
    }
    table.zopra_overview tr td, table.zopra_overview tr th {
        padding: 2px;
        margin: 0;
        border: 0;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    table.zopra_overview tr td:last-child {
        border-right: 0;
    }

/* search result page main table */
    #result_tab {
        border: 1px solid #ccc;
        border-bottom: 0;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    #result_tab tr {
        margin: 0;
        padding: 0;
    }
    #result_tab tr td, #result_tab tr th {
        padding: 2px;
        margin: 0;
        border: 0;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
    }
    #result_tab tr th {
        cursor: move;
    }
    #result_tab tr td:last-child {
        border-right: 0;
    }
}
