table.diff{
   border:1px solid #acacac;
   margin:5px 0 5px 0;
}
table.diff tr td{
    padding:5px;
    border:1px solid #acacac;
    line-height:18px;
}
table.diff tr th{
    border:1px solid #acacac;
    padding:5px;
}
.diff_header {
    background-color:#fff;
}
.diff_next {display:none}
.diff_add, .diff_chg, .diff_sub{
    padding: 5px;
}
.diff_add {background-color:#aaffaa;}
.diff_chg {background-color:#ffff77;}
.diff_sub {background-color:#ffaaaa;}